<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<h1 th:text="${title}">Default Title</h1>

<err th:replace="fragments :: error"></err>

<nav th:replace="fragments :: navigation"></nav>

<h2 th:text="'Editing cheese ' + ${cheese.cheeseName} + ', id = ' + ${cheese.id}"></h2>

<form method="post" th:object="${cheese}">
    <div>
        <label th:for="cheeseName">Cheese:</label>
            <input th:field="*{cheeseName}" th:value="${cheeseName}"/>
    <span th:errors="*{cheeseName}" class="error"></span></div>
    <div>
        <label th:for="cheeseDescription">Description:</label>
            <input th:field="*{cheeseDescription}" th:value="${cheeseDescription}"/>
    <span th:errors="*{cheeseDescription}" class="error"></span></div>
    <div>
        <label th:for="cheeseType">Type:</label>
        <select th:field="*{cheeseType}">
        <option th:each="cheeseType : ${cheeseTypes}"
                th:text="${cheeseType.name}"
                th:value="${cheeseType}"></option>
        </select></div>
    <div>
        <label th:for="cheeseRating">Rating:</label>
            <input th:field="*{cheeseRating}" th:value="${cheeseRating}" />
    <span th:errors="*{cheeseRating}" class="error"></span></div>
    <input type="hidden" th:value="${cheese.id}" name="cheeseId" />
    <div><input type="submit" value="Edit Cheese!" class="submit" /></div>
</form>

</body>
</html>