<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1>User Signup!</h1>
<hr />
<form method="post" th:object="${user}">
    <div><label th:for="*{username}">Username:</label>
        <input th:field="*{username}" th:value="${user.username}"/>
        <span th:errors="*{username}" class="error"></span>
    </div>
    <div>
        <label th:for="*{email}">Email:</label>
            <input type="email" th:field="*{email}" th:value="${user.email}" />
        <span th:errors="*{email}" class="error"></span>
    </div>
    <div>
        <label th:for="*{password}">Password:</label>
            <input type="password" th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>
    <div>
        <label>Verify:</label>
            <input type="password" name="verify" />
        <span th:text="${passwordError}" class="error"></span>
    </div>
    <div><input class="submit" type="submit" value="Sign up!" /></div>
</form>

</body>
</html>