<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1>User Signup!</h1>
<hr />
<form method="post" th:object="${user}">
    <div><label th:for="*{username}">Username:<input th:field="*{username}" th:value="${user.username}"/></label>
        <span th:errors="*{username}" class="error"></span>
    </div>
    <div><label th:for="*{email}">Email:<input type="email" th:field="*{email}" th:value="${user.email}" /></label>
        <span th:errors="*{email}" class="error"></span>
    </div>
    <div><label th:for="*{password}">Password:<input type="password" th:field="*{password}" /></label>
        <span th:errors="*{password}" class="error"></span>
    </div>
    <div><label>Verify:<input type="password" name="verify" /></label>
        <span th:text="${passwordError}" class="error"></span>
    </div>
    <div><input class="submit" type="submit" value="Sign up!" /></div>
</form>

</body>
</html>