html {
    font-family: Helvetica, sans-serif;
}

a {
    padding-left: 20px;
    font-weight: bold;
    text-decoration: none;
}

.submit {
    margin-left: 250px;
}

label {
    text-align: right;
    width: 300px;
    display: inline-block;
    padding-bottom: 10px;
}

select {
    align-items: inherit;
}

.error {
    color: darkred;
    font-weight: bold;
}

.table {
    column-gap: 75px;

}

th {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding-left: 15px;
    padding-right: 15px;
}

td {
    padding-left: 20px;
    padding-right: 15px;
}